.abilityScoresMain {
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.abilityScoresContainer {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    padding: 15px 0;
    border-radius: 5px;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
    background-color: rgba(245, 245, 220, 0.7);
}

.abilityScoresCard {
    width: 98%;
    box-sizing: border-box;
    padding: 10px;
    text-align: left;
}

.abilityScoresCard h3 {
    margin: 0;
    padding-left: 12px;
    font-family: 'Permanent Marker', cursive;
    font-weight: lighter;
    font-size: 2.5em;
    color: rgb(74, 48, 16);
    border-bottom: 3px solid rgb(74, 48, 16);
}

.abilityScoresCard h4 {
    margin: 10px 0;
    font-size: 1.15em;
    color: rgb(74, 48, 16);
}

.abiScoresBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.abiScoresIntro {
    width: 92%;
    font-family: 'Permanent Marker', cursive;
    font-weight: lighter;
    font-size: 5em;
    color: rgb(74, 48, 16);
    border-bottom: 5px solid rgb(74, 48, 16);
    margin: 15px 0;
}

.abiScoresDesc {
    width: 80%;
    margin: 10px 0;
    padding: 20px 0;
    border-radius: 5px;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
    background-color: rgba(245, 245, 220, 0.7);
}

.skillScoresDesc {
    width: 80%;
    margin: 10px 0;
    padding: 20px 0;
    border-radius: 5px;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
    background-color: rgba(245, 245, 220, 0.7);
}

.skillsScoresCard {
    width: 80%;
    box-sizing: border-box;
    padding: 20px;
    text-align: left;
    border-radius: 5px;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
    background-color: rgba(245, 245, 220, 0.7);
}

.skillsScoresCard h3 {
    margin: 0;
    padding-left: 12px;
    font-family: 'Piazzolla', serif;
    font-size: 2.5em;
    color: rgb(74, 48, 16);
    border-bottom: 3px solid rgb(74, 48, 16);
}

.skillsScoresCard h4 {
    font-size: 1.1em;
}

.oathSpells {
    margin: auto;
    padding: 3px;
    width: 60%;
    background-color: rgba(245, 245, 220, 0.7);
    border: none;
    border-radius: 8px;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
}

.oathSpells th {
    padding: 0px;
    font-family: 'Piazzolla', serif;
    font-size: 1.15em;
    color: rgb(83, 55, 20);
    border-bottom: 2px solid rgb(83, 55, 20);
}

.oathSpells td {
    padding: 0px;
}

.evenRow {
    background-color: rgba(240, 222, 187, 0.95);
}

.alignmentHeader {
    font-size: 2em;
}

.languageContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

.languagesCard {
    width: 48%;
    box-sizing: border-box;
    padding: 10px;
    text-align: left;
}

.languagesCard h3 {
    margin: 0;
    padding-left: 12px;
    font-family: 'Permanent Marker', cursive;
    font-weight: lighter;
    font-size: 2em;
    color: rgb(74, 48, 16);
    border-bottom: 3px solid rgb(74, 48, 16);
}

.langHeader {
    width: 96%;
    margin: 0 0 40px 0;
    padding-left: 12px;
    font-family: 'Permanent Marker', cursive;
    font-weight: lighter;
    font-size: 3.5em;
    text-align: left;
    color: rgb(74, 48, 16);
    border-bottom: 3px solid rgb(74, 48, 16);
}