@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.classDispMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.classesMain {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
}

.classDispTitle {
    color: rgb(74, 48, 16);
    width: 92%;
    font-family: 'Permanent Marker', cursive;
    font-weight: lighter;
    margin: 15px 0;
    padding: 0px 10px 20px 10px;
    border-radius: 5px;
}

.classDispTitle h1 {
    font-size: 5em;
    margin: 0;
    border-bottom: 5px solid rgb(74, 48, 16);
}

.classHp {
    width: 36%;
    box-sizing: inherit;
    padding: 0 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
    background-color: rgba(245, 245, 220, 0.5);
}

.classProf {
    width: 55%;
    box-sizing: inherit;
    padding: 0 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
    background-color: rgba(245, 245, 220, 0.5);
}

.classInfoContainer {
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    /* padding-left: 20px; */
}

.classInfoContainer h2 {
    margin: 10px 0 ;
    font-family: 'Piazzolla', serif;
    font-size: 1.75em;
    border-bottom: 3px solid rgb(83, 55, 20);
    color: rgb(83, 55, 20);
    text-align: left;
    padding-left: 20px;
}

.classInfoContainer p {
    font-size: 1.1em;
    text-align: left;
    padding-left: 10px;
    margin: 12px 0;
}

.classTableDisp {
    width: 93%;
    align-items: center;
    box-sizing: inherit;
    padding: 10px 10px 20px 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
    background-color: rgba(245, 245, 220, 0.5);
}

.classTableDisp h3 {
    font-family: 'Piazzolla', serif;
    font-size: 1.75em;
    text-align: left;
    padding-left: 20px;
    border-bottom: 3px solid rgb(83, 55, 20);
    color: rgb(83, 55, 20);
    margin: 10px 0px;
}

.classTableMain {
    margin: auto;
    width: 85%;
}

.classTableMain th {
    font-family: 'Piazzolla', serif;
    font-size: 1.15em;
    color: rgb(83, 55, 20);
    border-bottom: 2px solid rgb(83, 55, 20);
}

.classTableMain td {
    font-size: 1.1em;
}

.classTableSpell th {
    font-family: 'Piazzolla', serif;
    font-size: 1.1em;
    color: rgb(83, 55, 20);
    border-bottom: 2px solid rgb(83, 55, 20);
}

#profTable1 {
    width: 10%;
}

.classSpellHeader {
    width: 3%;
}

#classCantrips {
    width: 8%;
}

#spellsKnown {
    width: 8%;
}

.featureRow {
    width: 50%;
}

.classStartEquip {
    width: 40%;
    padding: 10px 10px 20px 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
    background-color: rgba(245, 245, 220, 0.5);
    /* font-size: 0.9em; */
}

.classMultiClass {
    width: 26%;
    padding: 10px 10px 20px 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
    background-color: rgba(245, 245, 220, 0.5);
    /* font-size: 0.9em; */
}

.classSubClass {
    width: 19%;
    padding: 10px 10px 20px 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
    background-color: rgba(245, 245, 220, 0.5);
}

.classMCText p {
    margin: 25px 0 12px 0;
    text-align: center;
}

.subClassButton {
    width: 100%;
}

.subClassButton p {
    width: 80%;
    border-radius: 4px;
    background-color: burlywood;
    font-family: 'Piazzolla', serif;
    text-align: center;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
    margin: 25px auto;
    padding: 6px;
}

.subClassButton p:hover {
    cursor: pointer;
    scale: 110%;
    background-color: rgb(130, 83, 27);
    color: rgb(244, 237, 188);
    transition: scale 0.2s;
}