@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');

.mainNavBar {
    display: flex;
    flex-direction: column;
    background-image: url('../../public/Header.png');
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 2.5vh;
}

.mainTitle {
    font-family: 'Piazzolla', serif;
    margin: 1vh 0vh;
    font-size: 2.5em;
    width: 100%;
}

.navBarLogo {
    float: left;
    width: 12%;
    height: 12%;
    padding: 30px;
    cursor: pointer;
    z-index: 5;
}

.navBarLogo:hover {
    scale: 110%;
    transition: scale 0.2s;
}

.navButtonContainer {
    position: fixed;
    top: 16%;
    box-sizing: inherit;
    width: 15%;
    /* height: 100vh; */
    display: block;
    float: left;
    visibility: hidden;
    z-index: 5;
}

.navButtonContainer p {
    font-size: larger;
    cursor: pointer;
}

.navBarButtons {
    width: 100%;
    /* background-color: rgb(38, 94, 143); */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}

.navButton {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ba894e;
    width: 100%;
    padding: 5px 10px 5px 25px;
    font-family: 'Piazzolla', serif;
    text-align: left;
    font-weight: bold;
    font-size: 150%;
    transition: 0.2s;
    margin: 0 .5vh 0 .5vh;
    border: 1px solid #3c2e23;
    border-radius: 3px;
    color: #3c2e23;
    /* box-shadow: 7px 7px 4px 0px rgba(0,0,0,0.6); */
}

.navButton:after {
    content: '\02795';
    font-size: 15px;
    float: right;
}

.active:after {
    content: "\2796";
}

.active:hover, .navButton:hover {
    color: rgb(255, 245, 186);
    cursor: pointer;
    background-color: #583019;
}

.navButtonPanel {
    width: 100%;
    box-sizing: border-box;
    font-family: 'Piazzolla', serif;
    color: #33271d;
    font-size: 110%;
    text-align: left;
    padding-left: 20px;
    background-color: rgba(227, 184, 109, 0.5);
    border: 1px solid black;
    border-radius: 3px;
    max-height: 0;
    margin: 0 .5vh;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.navButtonPanel p:hover {
    color: rgb(221, 123, 11);
}